<!DOCTYPE html>
<html>
<head>
  <title>99 Cats - Buy, Sell, and Trade</title>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <a href="<%= cats_url %>">Home</a>
  <a href="<%= new_cat_url %>">Add Cat</a>
  <a href="">Buy</a>
  <a href="">Sell</a>
  <a href="">Trade</a>
</nav>

<%= yield %>

</body>
</html>
